/* ---------- GENERAL ------------- */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: "MarvelRegular";
  letter-spacing: 4px;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1634px;
  margin: 0 auto;
}

/* ---------- HEADER ------------- */
header {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1b1d;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0px 30px 0px 30px;
}

.logo img {
  width: 100px;
  height: 100px;
}

menu {
  display: flex;
  gap: 20px;
  color: white;
  display: flex;
  gap: 30px;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 40px;
}

menu a {
  background-color: red;
  border-radius: 3px;
  padding: 10px;
}

.menu-favoris {
  border: 1px solid gray;
  background-color: transparent;
}

.circle-icon {
  font-size: 22px;
}

.conexion {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.conexion p {
  margin-left: 10px;
}

/* SEARCH BAR */

.search-bar {
  position: relative;
}

form input {
  width: 320px;
  height: 37px;
  border: 1px solid #606162;
  border-radius: 10px;
  background-color: #1a1b1d;
}

::placeholder {
  padding-left: 35px;
  color: #2a2929;
  text-transform: uppercase;
}

.magnifying-icon {
  font-size: 16px;
  color: red;
  position: absolute;
  left: 33px;
}

/* ---------- MODAL------------- */

.bg-display {
  display: none;
}

.modal-box {
  width: 550px;
  height: 400px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 15px;
  background-color: #e3e1e1;
  overflow: hidden;
}

.windows {
  background-color: red;
  height: 35px;
}

.windows p {
  text-align: center;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.modal-box input::placeholder {
  color: white;
}

.modal-box ::placeholder {
  padding-left: 15px;
  color: white;
  text-transform: uppercase;
}

.modal-box input:focus {
  color: white;
  background-color: blue;
  padding-left: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-box form div {
  margin: 15px;
}

.modal-box form input {
  width: 320px;
  height: 37px;
  border-radius: 10px;
  background-color: #1a1b1d;
  color: white;
  padding-left: 15px;
}

.cover {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 80%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box button {
  all: unset;
  text-align: center;
  width: 200px;
  height: 47px;
  background-color: #ec1c23;
  color: white;
  border-radius: 5px;
}

form p {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.modal-switch-infos {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: transparent;
  font-size: 16px;
}

.modal-switch-infos:hover {
  text-decoration: underline;
}

/* ---------- HOME ------------- */

.container-box {
  width: 100%;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.perso {
  width: 183px;
  height: 226px;
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.perso img {
  width: 183px;
  height: 226px;
  object-fit: cover;
  opacity: 85%;
}

.perso img:hover {
  opacity: 100%;
}

.perso-infos {
  height: 45px;
  width: 185px;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #b0c4de 0%,
    #c0c0c0 20%,
    #d3d3d3 40%,
    #c0c0c0 60%,
    #a9a9a9 80%,
    #808080 100%
  );
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* ---------- CHARACTER ------------- */

.character-box {
  width: 1260px;
  margin: 50px auto;
  background-color: black;
  display: flex;
}

.character-box img {
  width: 1260px;
  height: 400px;
  object-fit: cover;
}

.character-box h1 {
  margin: 30px 0px 30px 0px;
  text-align: left;
}

.character-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ec1c23;
  padding: 50px;
}

.character-box button {
  all: unset;
  text-align: center;
  width: 250px;
  height: 47px;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  margin-top: 30px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.character-box p {
  color: white;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  line-height: 20px;
  text-align: left;
}

.character-bibliography-box {
  width: 1260px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
}

.character-bibliography img {
  width: 230px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.star-icon {
  font-size: 15px;
  margin: 0px 10px 0px 10px;
}

/* ---------- COMICS ------------- */

.comics-box {
  width: 100%;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.comics {
  width: 490px;
  height: 275px;
  background-color: #292828;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  opacity: 80%;
}

.comics:hover {
  opacity: 100%;
}

.comics img {
  width: 183px;
  height: 275px;
  object-fit: contain;
  opacity: 85%;
}

.comics-infos {
  padding: 20px;
  line-height: 22px;
}

.comics-infos p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 90px;
  overflow: hidden;
  color: rgb(239, 235, 235);
}

.comics-infos h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
  line-height: 25px;
}

.comics-infos button {
  all: unset;
  text-align: center;
  width: 270px;
  height: 30px;
  margin-top: 20px;
  border: 1px solid #1a1b1d;
  background-color: black;
  font-size: 12px;
  border-radius: 3px;
}

.comics-infos button:hover {
  background-color: red;
}

/* ---------- COMIC ------------- */

.comic-box {
  width: 1260px;
  margin: 50px auto;
  background-color: black;
  display: flex;
}
.comic-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ec1c23;
  padding: 50px;
}

.comic-box img {
  width: 1260px;
  object-fit: cover;
}

.comic-box button {
  all: unset;
  text-align: center;
  width: 250px;
  height: 47px;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  margin-top: 30px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.comic-box p {
  color: white;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  line-height: 20px;
  text-align: left;
}

/* ---------- LIKES ------------- */

.square-box {
  position: relative;
}

.square-icon {
  color: black;
  font-size: 30px;
  position: absolute;
  z-index: 10;
  right: 10px;
  top: -220px;
  height: 20px;
  width: 20px;
  background-color: red;
  border: 2px solid black;
  opacity: 70%;
  cursor: pointer;
}

.square-icon:hover {
  opacity: 100%;
}
