/* ---------- GENERAL ------------- */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1634px;
  margin: 0 auto;
}

/* ---------- HEADER ------------- */
header {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1b1d;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo img {
  width: 100px;
  height: 100px;
}

menu {
  display: flex;
  gap: 20px;
  color: white;
  display: flex;
  gap: 30px;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 40px;
}

menu div {
  border: 1px solid black;
  padding: 10px;
}

form input {
  width: 320px;
  height: 37px;
  border: 1px solid #606162;
  border-radius: 10px;
  background-color: #1a1b1d;
}

::placeholder {
  padding-left: 15px;
  color: #2a2929;
  text-transform: uppercase;
}

.circle-icon {
  font-size: 22px;
}

/* ---------- MODAL------------- */

.bg-display {
  display: none;
}

.modal-box {
  width: 500px;
  height: 360px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

.windows {
  background-color: #b0c4de;
  height: 30px;
}

.windows p {
  text-align: center;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form div {
  margin: 20px;
}

.cover {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 80%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box button {
  all: unset;
  text-align: center;
  width: 100px;
  height: 47px;
  background-color: #ec1c23;
  color: white;
  border-radius: 5px;
}

/* ---------- HOME ------------- */

.container-box {
  width: 100%;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.perso {
  width: 183px;
  height: 226px;
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.perso img {
  width: 183px;
  height: 226px;
  object-fit: cover;
  opacity: 80%;
}

.perso img:hover {
  opacity: 100%;
}

.perso-infos {
  height: 45px;
  width: 185px;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #b0c4de 0%,
    #c0c0c0 20%,
    #d3d3d3 40%,
    #c0c0c0 60%,
    #a9a9a9 80%,
    #808080 100%
  );
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* ---------- CHARACTER ------------- */

.character-box {
  width: 1260px;
  margin: 50px auto;
  background-color: black;
}

.character-box img {
  width: 1260px;
  height: 400px;
  object-fit: cover;
}

.character-bibliography-box {
  width: 1260px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.character-bibliography img {
  width: 210px;
  height: 210px;
  object-fit: cover;
}
